@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #333;
  color: white;
}

input {
  outline: none !important;
  padding: 4px;
  border-bottom: 2px solid lightgray;
  background-color: #444;
}
